CANIASEGEMET/src/main/webapp/wsdl/Hesap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://canias" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://canias" xmlns:intf="http://canias" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://canias" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="genisHesap">
    <complexType>
     <sequence>
      <element name="okftype" type="xsd:string"/>
      <element name="okfnum" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="genisHesapResponse">
    <complexType>
     <sequence>
      <element name="genisHesapReturn" type="impl:GenisHesap"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="GenisHesap">
    <sequence>
     <element name="BIRLESHATA" type="xsd:double"/>
     <element name="EXPUNCER" type="xsd:double"/>
     <element name="EXPUNCER2" nillable="true" type="xsd:string"/>
     <element name="HALFDGT" type="xsd:double"/>
     <element name="HATAMESAJI" nillable="true" type="xsd:string"/>
     <element name="OLCHATA" type="xsd:double"/>
     <element name="REFKAYMA" type="xsd:double"/>
     <element name="SICFARKI" type="xsd:double"/>
     <element name="SICFARKITESTREF" type="xsd:double"/>
     <element name="STDUNCER" type="xsd:double"/>
     <element name="TEKRAR" type="xsd:double"/>
     <element name="TESTOKUHATA" type="xsd:double"/>
     <element name="TVARYANS" type="xsd:double"/>
     <element name="UREF" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="genisHesapRequest">

      <wsdl:part element="impl:genisHesap" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="genisHesapResponse">

      <wsdl:part element="impl:genisHesapResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Hesap">

      <wsdl:operation name="genisHesap">

         <wsdl:input message="impl:genisHesapRequest" name="genisHesapRequest">

       </wsdl:input>

         <wsdl:output message="impl:genisHesapResponse" name="genisHesapResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HesapSoapBinding" type="impl:Hesap">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="genisHesap">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="genisHesapRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="genisHesapResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HesapService">

      <wsdl:port binding="impl:HesapSoapBinding" name="Hesap">

         <wsdlsoap:address location="http://portal.egemet.com.tr/CANIASEGEMET/services/Hesap"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
